<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="LoginSuite">

  <!-- Register listeners inside suite -->
  <listeners>
    <listener class-name="com.webplat.listeners.TestListener"/>
  </listeners>

  <test name="LoginTests">
    <classes>
      <class name="com.webplat.tests.LoginTests"/>
    </classes>
  </test>

</suite>
